[alias]
	all = add -A
	cm = commit
	co = checkout
	count = shortlog -sn
	credit = !~/.dotfiles/git/credit
	nuke = !~/.dotfiles/git/nuke
	st = status -sb
[color]
	ui = always
[core]
	editor = gedit
	excludesfile = ~/.ignoregit
[push]
	default = simple
[user]
	email = legospace9876@gmail.com
	name = Zlatan Vasović