[alias]
	all = add -A
	br = branch
	cm = commit
	co = checkout
	credit = !~/.dotfiles/git/author
	nuke = !~/.dotfiles/git/nuke
	st = status -sb
[color]
	ui = always
[core]
	editor = gedit
	excludesfile = ~/.ignoregit
[push]
	default = simple
[user]
	email = legospace9876@gmail.com
	name = Zlatan Vasović