[alias]
	all = add -A
	amend = commit --amend -C HEAD
	ci = commit
	co = checkout
	count = shortlog -sn
	credit = !~/.dotfiles/git/credit
	nuke = !~/.dotfiles/git/nuke
	st = status -sb
[color]
	ui = auto
[core]
	editor = gedit
	excludesfile = ~/.ignoregit
[push]
	default = simple
[user]
	email = EMAIL
	name = NAME